absl-py
aiohappyeyeballs
aiohttp
aiosignal
antlr4-python3-runtime
async-timeout
attrs
cachetools
certifi
charset-normalizer
einops
filelock
frozenlist
fsspec
ftfy
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
importlib_metadata
Jinja2
lightning-utilities
Markdown
MarkupSafe
mpmath
multidict
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
omegaconf
open_clip_torch
opencv-python
packaging
pandas
pillow
propcache
protobuf
pyasn1
pyasn1_modules
python-dateutil
pytorch-lightning
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
scipy
six
sympy
tensorboard
tensorboard-data-server
timm
torch
torchmetrics
torchvision
tqdm
triton
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
yarl
zipp
